/create_acl_for_luci.ok
/create_acl_for_luci.warn
/create_acl_for_luci.err
/luci-app-godproxy/rulesupdate.log
/qt5
/luci-app-advancedsetting
/luci-app-cifsd
/luci-app-smstool*
/luci-app-mosquitto
/luci-app-appfilter
/luci-app-babeld
/luci-app-siitwizard
/luci-app-ttyd
/luci-app-serverchan
/luci-app-eqos
/luci-app-webdavf
/luci-app-baidupcs-web
/luci-app-softether
/mentohust
/subweb
/wget
/mt
/autosamba
/npc
/fcgiwrap
/ipv6-helper
/ChinaDNS
/luci-theme-netgear
/csstidy
/UnblockNeteaseMusicGo
/default-settings
/luci-proto-bonding
/rclone
/luci-lib-docker
/rclone-*
/mtk-eip93
/ndpi-netfilter
/ntfs3-oot
/qtools
/libcups
/nat64
/dns-proxy
/ddns-scripts_*
/asterisk-chan-quectel
/ntfs3-mount
/accel-ppp
/aic8800
/luci-app-apinger
/luci-app-keepalived
/quectel_SRPD_PCIE
/fibocom_MHI
/meig_QMI_WWAN
/quectel_Gobinet
