
config bandix 'general'
	option iface 'br-lan'
	option port '8686'
	option data_dir '/usr/share/bandix'
	
	option language 'auto'
	option theme 'auto'


config bandix 'traffic'
	option enabled '0'
	option speed_unit 'bytes'
	option offline_timeout '600'

	option traffic_persist_main_ring '0'
	option traffic_main_ring_retention_seconds '600'
	option traffic_persist_day_ring '0'
	option traffic_persist_week_ring '0'
	option traffic_flush_interval_seconds '600'


config bandix 'connections'
	option enabled '0'

