<style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}

	textarea::placeholder {
		color: #909090;
	}
</style>

<body>
	<!-- <input id="subUrl" type="hidden" name="subUrl" value="<%=luci.http.formvalue('subUrl') %>" /> -->
	<input id="serviceStatus" type="hidden" name="serviceStatus" value="<%=self.title%>" />
	<fieldset style="text-align: center; width: 100%" class="cbi-section">
		<table>
			<tr>
				<td style="text-align: center; width: 25%">
					<input type="button" class="btn cbi-button cbi-button-apply" value="<%:Copy subscription link%>" onclick="copy_sub_url(this)"/>
				</td>
				<td style="text-align: center; width: 25%">
					<input type="button" class="btn cbi-button cbi-button-negative"
						value="<%:Commit Settings%>" onclick="cbi_submit(this, 'cbi.apply')"/>
				</td>
				<td style="text-align: center; width: 25%">
					<input type="button" class="btn cbi-button cbi-button-negative"
						value="<%:Clear Subscribe Address%>" onclick="clearSubscribeAddress(this)"/>
				</td>
				<td style="text-align: center; width: 25%">
					<input type="button" class="btn cbi-button cbi-button-positive"
						value="<%:Restart Service%>" onclick="restart_service(this)"/>
				</td>
			</tr>
		</table>
	</fieldset>
</body>

<script type="text/javascript">//<![CDATA[

		const serviceUrl = window.location.protocol + "//" + window.location.host + ":25500"
		console.log(serviceUrl)
		window.onload = function(){
			// check_service_status();
		}
		function copy_sub_url(){
			let subscribeAddress = document.getElementsByName('cbid.subconverter.config.subscribeAddress')[0].value
			var lines = subscribeAddress.split("\n");
			subscribeAddress=lines.join("|")
			let url = serviceUrl + "/sub?emoji=true&target=" + document.getElementsByName('cbid.subconverter.config.client')[0].value + "&url=" + encodeURIComponent(subscribeAddress)+ "&config=" + encodeURIComponent(document.getElementsByName('cbid.subconverter.config.remoteConfig')[0].value);
			var tempInput = document.createElement("input");
			// 设置输入框的值为要复制的文本
			tempInput.value = url;
			// 将输入框添加到页面中
			document.body.appendChild(tempInput);
			// 选中输入框中的文本
			tempInput.select();
			// 执行复制命令
			document.execCommand("copy");
			// 移除临时输入框
			document.body.removeChild(tempInput);
			alert("<%:Copy Success%>");
			document.getElementsByTagName("form")[0].submit();
		}

		function restart_service(){
			XHR.get('<%=luci.dispatcher.build_url("admin", "services", "subconverter", "restart")%>', {}, function(x, status) {
				if (x && x.status == 200 && x.responseText != "")
				{
					window.location.reload()
				}
			});
		}

		function check_service_status(){
			const serviceStatus = document.getElementById("serviceStatus").value;
			// XHR.get(serviceUrl, {}, function(x, status) {
			// });
			if(serviceStatus == "running"){
				document.getElementById("cbid.subconverter.config.serviceStatus").parentNode.innerHTML = '<span style="color:green"><%:Running%></span>';
			}else{
				document.getElementById("cbid.subconverter.config.serviceStatus").parentElement.innerHTML = '<span style="color:red"><%:Not Running%></span>';
			}
		}

		function clearSubscribeAddress(){
			document.getElementsByName("cbid.subconverter.config.subscribeAddress")[0].value = "";
		}

	//]]>
</script>